---
import { SITE } from "@config";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";
import {Content as Landing} from '../components/Landing.md';

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout title={`Data-Driven Business Transformation | ${SITE.title}`}>
  <Header activeNav="home" />
  <main id="main-content">
    <section id="hero">
      <h1 class="text-sm">Crafting the data-driven future for your organization</h1>

      <p>
        At <strong>Squared Sums</strong>, we are on a mission to turn complex data into <strong>powerful
        insights</strong>, helping businesses step confidently into the future. We believe in
        building a world where <strong>data-driven decisions</strong> are at the forefront of every
        <strong>business strategy</strong>.
      </p>
      <div class="social-wrapper">
        <div class="social-links">Get in touch:</div>
        <Socials />
      </div>
      <p>
        New York &mdash; London &mdash; Singapore &mdash; Frankfurt &mdash; Barcelona
      </p>
    </section>

    <Hr />

    <section id="landing">
    </section>
    <Landing />
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-12 pt-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-2xl font-bold sm:my-8 sm:text-4xl;
  }
  #hero p {
    @apply my-2 leading-7;
  }
  .social-wrapper {
    @apply my-6 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured {
    @apply pb-6 pt-12;
  }
  #featured h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
